@import 'utilities.css';
:root{
    --primary: rgb(24, 135, 233);
    --bgDark: rgb(16, 28, 38);
    --white: rgb(250, 250, 250);
    --secondary: rgb(24, 167, 233);
    --bgLight: rgb(190, 181, 181);
}

/* ================== BODY STYLING ================ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    padding-top: 1rem;
    font-family: "poppins", sans-serif;
    /* overflow: scroll; */

}

/* ================== HEADER STYLING ================ */
  /* OLD Header styling begins */
  header {
    position: fixed;
    display: flexbox;
    width: 100%;
    z-index: 99999;
    top: 0;
    background-color: var(--bgDark);
    border-bottom: 1px solid #b6b6b6;
  }

.center a {
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s ease;
  
  }
  
.center a:hover {
    color: var(--secondary);
  }

nav {
    padding: 0.6rem;
  }


.container, .abcontainer{
    max-width: 1152px;
    padding: 20px 30px 15px 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 /* Hero styling begins */
.hero {
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: var(--bgDark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}

.hero .left {
  padding: 20px;
  position: relative;
}

/* .hero .left img {
    width: 100%;
    height: auto;
    background-color: var(--bgLight);
    border-radius: 50%;
} */

.hero .left img {
  width: 100%;
  height: auto;
  background-color: var(--bgLight);
  border-radius: 50%;
  position: relative; /* Necessary for the z-index to work correctly */
  z-index: 1; /* Position the image above the overlay */
}

/* .hero .left::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(45deg, red, blue);
  opacity: 0.6; 
  z-index: 2; 
  pointer-events: none;
} */



.hero .right {
    color: var(--white);
    margin-top: 0px;
    padding-right: 30px;
    padding-top: -5rem;
    padding-bottom: 3rem;
}

.hero .right h6 {
    font-size: 1rem;
    color: #707070;
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    display: block;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: var(--secondary);
}

.hero .right h1 span {
    color: var(--secondary);
}

.hero .right p {
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 200;
}


/* Base styles */
.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
  }
  
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.left {
    flex: 1;
  }

  .topline{
    display: block;
    position: relative;
    letter-spacing: 5px;
    color: var(--secondary);
    font-weight: 600;
  }

  .topline::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 15px;
    bottom: 3px;
    background-color: var(--secondary);
  }

  .right h1 {
    letter-spacing: 3px;
  }
  
/* Responsive image */
img {
    max-width: 100%;
    height: auto;
}
  
/* Menu links */
.center a {
    margin: 0 8px;
}
  
/* Button styling */
.btn-primary {
    padding: 0.6rem 1.5rem;
    font-size:  1rem;
    background-color: #25D366;
    border-radius: .25rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.2s ease;
}

.btn-primary:hover {
    background-color: transparent;
    border-color:#25D366;
    color: #25D366;
}
  
.btn-secondary {
    padding: 10px 20px;
    border-radius: .25rem;
    cursor: pointer;
    border: 2px solid #fff;
    color: white;
    background: transparent;
    transition: all 0.2s ease;
}

  .btn-secondary:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--bgDark);

}

/* ================== Resnsponsive design ================ */
/* Media query for tablets */
@media (min-width: 768px) {
   .hero {
      flex-direction: row;
    }

    .nav_bar .center ul li {
      text-decoration: none;
      display: inline;
    }
  
    .right, .left {
      flex: none;
    }
  
    .center {
      display: flex;
    }
}
  
  /* Media query for desktops */
  @media (min-width: 1024px) {
    .logo {
      margin-right: auto;
    }

    .nav_bar .center ul li {
      text-decoration: none;
      display: inline;
    }
  
    .center {
      margin: 0 20px;
    }
  
    .right {
      margin-left: auto;
    }
  }
  

/* Base styles */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .container, .abcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left, .right {
    flex: 1;
  }
  
  /* Responsive image */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Social links */
  .socials {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .socials a {
    margin: 0 5px;
  }
  /* ================== Resnsponsive design ================ */
  /* Media query for small phones only */
 @media (min-width: 320px) {
  nav a {
    font-size: 13px;
  }
  .btn-primary {
    padding: 0.3rem 1.1rem;
    border-radius: .25rem;
    font-size:  15px;
    background-color: #25D366;
    
  }

  .container, .abcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
 }


 /* Media query for Mid and small phones */
 @media (min-width: 425px), (min-width: 375px), (min-width: 320px) {
  .abcontainer {
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

  .hero .right h1 {
    font-size: 1.8em;
    
}

.right p {
  text-align: justify;
  line-height: 25px;
}

.hero .right .topline {
  font-size: 20px;
  letter-spacing: 1px;
}

  .container img,   .abcontainer img {
    width: 50px;
  }

  .btn-primary {
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: .25rem;
}

  .left, .right {
    flex: 50%;
  }

  .hero .left {
    padding-top: 90px;
  }

  .right h6, h1, span, p{
    text-align: center;
  }


  .hero .right .sec-btn {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .hero .right a {
    text-align: center;
    
  }

  .container .right h3,  .abcontainer .right h3 {
    text-align: center;
  }

  .hero .right {
    padding: 0;
    margin: 0 0 3rem 0;
  }

 

}

/* ================== Resnsponsive design ================ */
  /* Media query for tablets */
  @media (min-width: 768px) {
    .container, .abcontainer {
      flex-direction: row;
    }

    .flex.items-centre {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

    .right p {
      text-align: left;
    }

    .hero .right h1 {
      font-size: 2em;
      
  }

  .btn-primary {
    padding: 0.3rem 1.1rem;
    font-size:  15px;
    background-color: #25D366;
    border-radius: .25rem;
    
  }

  .hero .right .topline {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

    nav a {
      font-size: 16px;
    }

    body {
      padding-top: 6rem;
  
  }

    .container img {
      width: 70px;
    }

    .socials {
      justify-content: left;
      padding: 10px 0 0 0;
    }

    .hero .left {
      padding-top: 0px;
    }
  
  
    .left, .right {
      flex: 50%;
    }

    .services p {
      font-size: 16px;
      font-weight: 200;
    }
    

    .hero .right h6, h1, span, p{
      text-align: left;
    }

   .container .right h3, .abcontainer .right h3 {
      text-align: left;
    }

    .hero .right .sec-btn {
      position: relative;
      text-align: left;
      align-items: left;
      justify-content: left;
    }
    .hero .right a {
      text-align: left;
      
    }
  }
  /* ================== Resnsponsive design ================ */
  /* Media query for desktops */
  @media (min-width: 1024px) {
    .left {
      justify-content: flex-end;
    }

    .flex.items-centre {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
    .hero .right h1 {
      font-size: 2em;
      
  }

  .right p {
    text-align: left;
  }

  .services p {
    font-size: 16px;
    font-weight: 400;
  }
  

  .btn-primary {
    padding: 0.5rem 1.4rem;
    font-size:  20px;
    background-color: #25D366;
    border-radius: .25rem;
    
  }

  .hero .right .topline {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

    nav a {
      font-size: 20px;
    }

    .container img, .abcontainer img {
      width: 80px;
    }

    .abcontainer {
      display: row;
    }


    .socials {
      justify-content: left;
      padding: 10px 0 0 0;
    }

    .hero .left {
      padding-top: 15px;
    }
  
  
    .right {
      justify-content: flex-start;
    }
    .hero .right {
      padding: 0 20px;
      margin: 0;
    }

    .hero .left img {
      width: 85%;
      height: auto;
    }

    .hero {
      height: auto;
    }
   
  }
  

/* ================== SOCIALS STYULING ================ */
section.about .socials {
    display: flex;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    margin-right: 0.5rem;
    text-decoration: none;
}


.container .right, .abcontainer .right {
    margin-left: 0rem;
    margin-right: 0rem;
}

.container .left, .abcontainer .left {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: -2rem;
}

.container .left img, .abcontainer .left img {
    width: 80%;
    height: auto;
}

.right h1 span {
  color: var(--secondary);
  font-weight: 600;
}

.right h3 {
  font-size: 16px;
  color: #2b2b2b;
}

.socials a i{
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--bgDark);
}

.socials a i:hover{
    color: var(--secondary);
}



  /* Skills styling */
.skillset {
    background: var(--bgDark);
    width: 100%;
}

.skills {
    text-transform: capitalize;
    list-style: none;
    width: 70%;
    margin: 60px auto;
    color: #fff;
    padding: 0 10px 20px 10px
}

.skills li {
    margin: 20px 0;
    padding: 10px;
}

.skillset h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(24, 167, 233);
}

.skills h5 {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: lighter;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(0, 61, 110)0%, rgb(24, 167, 233)100%);
}


/* ==================  SKILLS ================ */
.skills .web {
    width: 75%;
    animation: web 3s;
    border-radius: 50px;
    height: 19px;
}

.skills .graphics {
    width: 80%;
    animation: graphics 3s;
    border-radius: 50px;
    height: 19px;
}

.skills .business {
    width: 90%;
    animation: business 3s;
    border-radius: 50px;
    height: 19px;
}

.skills .project {
    width: 85%;
    animation: project 3s;
    border-radius: 50px;
    height: 19px;
}

@keyframes web {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

@keyframes graphics {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes business {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes project {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}


/* ============== Services styling =============== */
.eddy {
    width: 100%;
    height: auto;
    padding: 0 8% 10% 8%;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.eddy h1 {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    color: var(--secondary);
}

.eddy h1::after{
    content: "";
    background: var(--secondary);
    width: 4%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.eddy .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.services {
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease;
}

.services i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--secondary);
}

.services h2 {
    font-weight: 600;
    margin-bottom: 8px;
}

.services p {
  text-transform: none;
  line-height: 25px;
}

.services:hover{
    background: var(--bgDark);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
}

.services:hover i {
    color: #fff;
}



/* ============= Card ================ */
.card_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(232 232 232 / 70%);
  height: auto;
  display: block;
}

.card_main_container .h_one{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  height: auto;
  width: auto;
}

.card_main_container .h_one h1 {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 600;
}

.card_container {
  padding-block: 5rem;
}

.card_content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 0 0 3rem 0;
}

.card_article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card_image {
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;
  background-color: #fff;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 50%;
  margin-top: 200px;
  z-index: 6;
  border-radius: 0rem 0rem 0 0;
  /*Linear gradient for images */
  background-image: linear-gradient(0deg, rgb(0 0 0 / 33%), transparent);
}


.card_data {
  background-color: #ffffff;
  height: auto;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  /*box-shadow: 0px 20px 6px 13px rgb(0 0 0);*/
}

.card_img {
  border-radius: 1.5rem 1.5rem 0 0;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card_name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary);
  margin-bottom: .75rem;
  text-transform: capitalize;
}

.card_description {
  font-weight: 500;
  margin-bottom: 1.9rem;
  text-align: center;
  line-height: 25px;
}

.card_button {
  display: inline-block;
  background-color: var(--secondary);
  padding: .55rem 1.2rem;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: .25rem;
  color: #fff;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.card_button:hover {
  box-shadow: 0 2px 20px rgba(0,0,0,0.12), 0 4px 10px rgba(0, 0, 0, 0.24);
}


/* ============= Swiper Class ================ */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev, .swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--secondary);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: var(--bgDark);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary);
}

.swiper-pagination {
  margin-bottom: 0px;
  bottom: 20;
}



/* ============= BREAKPOINTS ============== */
/* For small devices */
@media screen and (max-width: 320px) {
  .card_data {
    padding: 1rem;
  }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 20px;
  left: 0;
  width: 100%;
}

/* ============= Footer styling ================ */
footer {
  /*background: rgb(17, 17, 17);*/
  background: var(--bgDark);
  width: 100%;
  height: 20vh;
  vertical-align: bottom;
}

.contact h6 {
  color: var(--white);
  padding-top: 50px;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}

footer .contact p {
  color: #707070;
  text-align: justify;

}

/* ================== Resnsponsive design ================ */
/* For medium screens */
@media screen and (min-width: 768px) {
  .card_content {
    margin-inline: 3rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
    left: 0;
    width: 100%;
  }
}


/* for mid small screens */
@media screen and (min-width: 375px), (min-width: 425px) {
  .card_content {
      margin-inline: 3rem;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
    left: 0;
    width: 100%;
  }

.swiper-button-prev,
.swiper-button-next {
  display: block;
}

}

/* For larger screens */
@media screen and (min-width: 1120px) {
  .card_container {
    max-width: 1120px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
    left: 0;
    width: 100%;
  }

  .swiper-button-next {
    right: -1rem;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  
  
}

/* ================= Mobile Menue ============== */
nav .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}


/* =========== DROP DOWN MENU =================== */

nav .drop_down_menu {
  position: absolute;
  display: none;
  height: 0;
  right: 2rem;
  top: 60px;
  width: 300px;
  background: rgb(16 28 38 / 39%);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250 250 250 / 26%) solid 0px;
  margin-top: 6px;
}

nav .open {
  height: 300px;
}
nav .drop_down_menu a {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

nav .drop_down_menu .btn-drop {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 15px;
  background-color: #25D366;
  border-radius: .25rem;
  border: none;
  font-weight: bold;
}

nav .btn-drop:hover {
  background-color: #158b41;
}

/* ================== Resnsponsive design ================ */
@media (max-width: 425px) {
  nav .center, .container .WhatsApp {
    display: none;
  }
  nav .drop_down_menu {
    display: block;
  }
  

}

@media (min-width: 426px) {
  nav .toggle_btn, nav .drop_down_menu  {
    display: none;
  }

  nav .toggle_btn, .container .nav_bar {
    display: block;
  }

}

@media (max-width: 600px) {
  .navlinks .fa-xmark{
    display: none;
  }
}

/* ============= Footer styling ================ */
footer {
    /*background: rgb(17, 17, 17);*/
    background: var(--bgDark);
    width: 100%;
    height: 20vh;
    vertical-align: bottom;
}

.contact h6 {
    color: var(--white);
    padding-top: 50px;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}

footer .contact p {
    color: #707070;
    text-align: justify;
}

